  <%= render "lhc.html", assigns %>
    <!-- here will be rendered the game canvas -->
    <div id="renderer"></div>


    <div id="message" style="display:none;position:absolute;bottom: 5%;width: 50%;padding: 40px;background: #f6fff6ad;left: 25%;text-align: center;font-size: 30px;font-family: monospace;">
    press <b>SPACEBAR</b> to interact with <b>chair</b>
    </div>


  <%= render "rhc.html", assigns %>


