<div style="position: absolute;top: 0;left: 0;background: #2492247a;width:15%;">
      <div class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <h6 class="text-uppercase font-weight-bold mb-0">PLAYERS—<%= length(@users) %></h6>
      </div>
      <ul class="nav flex-column lhc pl-3 pt-1" id="users-data">
      </ul>
</div>
