.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #2f3136 !important;
}

.navbar-dark{
  background-color: #202225;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

.text-input {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

body{
  color: #dcddde;
  background-color: #36393f; 
}

