.sidebar {
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #2f3136 !important;
}

.navbar-dark{
  background-color: #202225;
}

.server-lhc{
	background-color: #202225;
}

.server-lhc-separator{
	height: 2px;
	margin: auto;
	background-color: #303136;
	width: 75%;
}

.server-box{
    background-color: #303136;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 7px;
    font-weight: bold;
    color: #8e9297;
}


.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

[role="main"] {
  padding-top: 40px; /* Space for fixed navbar */
}

.composer {
  position: fixed;
  bottom: 20px;
  width: 79%;
}

body{
  color: #dcddde;
  background-color: #36393f; 
}

.livechat-row img {
  border-radius: 50%;
  width: 50px;
}

.composer form{
    display: flex !important;
    width: 80.5%;
}

.composer input{
    background-color: #40444b !important;
    color: white !important;
    border-width: 0 !important;
    box-shadow: 0 0 0 0 black !important;
    border-radius: 8px;
    padding: 30px;
    width: 100%;
}

.chatview {
   list-style: none;
   min-height:200px;
   padding: 10px;
   max-height: 85vh;
   overflow: auto;
   }

.lhc-channel-name{
    font-size: 18px;
    font-weight: 400;
    color: #8e9297;
}

.dixord-form{
background-color:rgb(42, 45, 48);border-color:#202225;padding:40px;    border-width: 1px;
    border-style: solid;border-radius: 5px
}

.dixord-form input{
	width: 100%;
	border: 1px solid black;
	background-color: #202225;
	color: white !important;
	padding:10px;
}

.dixord-form h6 {
	color:blue;
	font-weight: bold;
	margin-top: 1.5rem;
	color: #6c757d;
	text-transform: uppercase;
}

.your-account-container{
	position: absolute;
	bottom: 0;
	background-color: #292b2f;
}

.auth-screen{
	height:100vh;position:fixed;top:0;left:0;width:100%;background-image:url("/images/register_background.jpg");z-index:100;background-size:cover;
}

