  
# Latest version of Erlang/OTP see: https://git.io/Je5k6
erlang_version=22.2

# Latest Elixir Version see: https://github.com/elixir-lang/elixir/releases
elixir_version=1.10.3

# Always rebuild from scratch on every deploy?
always_rebuild=false

# Set the path the app is run from
runtime_path=/app
