<!-- The list of messages will appear here: -->
<ul id='msg-list' style='list-style: none; min-height:200px; padding: 10px;'></ul>
<div class="row text-input">
  <div class="col-9 pr-0">
    <input type="text" id="msg" class="form-control" placeholder="Message this chat">
  </div>
  <div class="col-3 pl-0">
	<button id="send" type="button" class="btn btn-primary">Send</button>
  </div>
</div>
