<div class="col-md-2 sidebar d-none d-md-block">
  <div class="sidebar-sticky">
      <div class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <h6 class="text-uppercase font-weight-bold mb-0">GUESTS </h6>
      </div>
      <ul class="nav flex-column lhc pl-3 pt-1" id="users-data">
      </ul>
  </div>
</div>
